<h1>Add Books Here</h1>

<form action="/bookshelf" method="POST">
    <p>
        <label for="book">Book 1:</label>
        <input type="text" name="book" id="book" />
    </p>
    <p>
        <label for="book">Book 2:</label>
        <input type="text" name="book" id="book" />
    </p>
    <p>
        <label for="book">Book 3:</label>
        <input type="text" name="book" id="book" />
    </p>
    <p>
        <label for="book">Book 4:</label>
        <input type="text" name="book" id="book" />
    </p>
    <p>
        <label for="book">Book 5:</label>
        <input type="text" name="book" id="book" />
    </p>

    <input type="submit" />
    
</form>
